:root {
    --primary-color: #000;
    --secondary-color: #fff;
    --hero-color: #F1F3FF;
}

body {
    font-family: 'Helvetica', Arial, sans-serif;
}

#header {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: var(--hero-color);
    .header-logo {
        width: 100%;
        height: auto;
    }
    .mobile-menu {
        width: 36px;
        height: auto;
    }
    .nav-menu {
        li {
            margin-right: 16px;
            margin-left: 16px;
            font-size: 14px;
            a {
                color: var(--primary-color);
                text-decoration: none;
                &:hover {
                    color: var(--primary-color);
                }
                &.register-cta {
                    font-size: 14px;
                    color: var(--secondary-color);
                }
            }
        }
    }
}

#main {
    overflow: hidden;
}

#hero {
    padding-top: 20px;
    background-color: var(--hero-color);
    .hero-text {
        margin-top: 20px;
        margin-bottom: 30px;
        @media screen and (max-width: 768px) {
            margin-bottom: 20px;
        }
        h1 {
            font-size: 30px;
            font-weight: bold;
            color: var(--primary-color);
        }
        p {
            margin-top: 15px;
            margin-bottom: 16px;
            font-size: 14px;
            font-weight: 400;
        }
        .rent-cta {
            font-size: 14px;
            color: var(--secondary-color);
        }
    }
    .hero-image {
        width: 100%;
        @media screen and (max-width: 768px) {
            transform: translateX(5%);
        }
        @media screen and (min-width: 768px) {
            transform: translate(12%, 7%);
        }
        @media screen and (min-width: 1024px) {
            transform: translateX(11%);
        }
    }
}

#our-services {
    padding-top: 105px;
    padding-bottom: 100px;
    .services-image {
        width: 100%;
        padding-left: 69px;
        @media screen and (max-width: 768px) {
            max-width: 90%;
            padding-left: 0;
        }
    }
    .services-text {
        margin-top: 30px;
        margin-bottom: 30px;
        padding-left: 100px;
        @media screen and (max-width: 768px) {
            margin-top: 30px;
            padding-left: 20px;
        }
        @media screen and (min-width: 768px) and (max-width: 1024px) {
            padding-left: 10px;
        }
        h2 {
            font-size: 30px;
            font-weight: bold;
        }
        p {
            font-size: 14px;
        }
        span {
            font-size: 14px;
        }
    }
}