:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --hero-color: #F1F3FF;
  --primary-dark-blue: #0D28A6;
}

body {
  font-family: 'Helvetica', Arial, sans-serif;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: var(--hero-color);
}

#header .header-logo {
  width: 100%;
  height: auto;
}

#header .mobile-menu {
  width: 36px;
  height: auto;
}

#header .nav-menu li {
  margin-right: 16px;
  margin-left: 16px;
  font-size: 14px;
  font-weight: 400;
}

#header .nav-menu li a {
  color: var(--primary-color);
  text-decoration: none;
}

#header .nav-menu li a:hover {
  color: var(--primary-color);
}

#header .nav-menu li a.register-cta {
  font-size: 14px;
  font-weight: 400;
  color: var(--secondary-color);
}

#main {
  overflow: hidden;
}

#hero {
  position: relative;
  margin-top: 80px;
  background-color: var(--hero-color);
}

#hero .hero-text {
  margin-top: 20px;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  #hero .hero-text {
    margin-bottom: 20px;
  }
}

#hero .hero-text h1 {
  font-size: 30px;
  font-weight: bold;
  color: var(--primary-color);
}

@media screen and (max-width: 768px) {
  #hero .hero-text h1 {
    font-size: 24px;
  }
}

#hero .hero-text p {
  margin-top: 15px;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  #hero .hero-text p {
    font-size: 12px;
  }
}

#hero .hero-text .rent-cta {
  font-size: 14px;
  color: var(--secondary-color);
}

@media screen and (max-width: 768px) {
  #hero .hero-text .rent-cta {
    font-size: 12px;
  }
}

#hero .hero-image {
  width: 100%;
}

@media screen and (max-width: 768px) {
  #hero .hero-image {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
}

@media screen and (min-width: 768px) {
  #hero .hero-image {
    -webkit-transform: translate(12%, 12%);
            transform: translate(12%, 12%);
  }
}

@media screen and (min-width: 1024px) {
  #hero .hero-image {
    -webkit-transform: translateX(11%);
            transform: translateX(11%);
  }
}

@media screen and (min-width: 1440px) {
  #hero .hero-image {
    -webkit-transform: translateX(31%);
            transform: translateX(31%);
  }
}

#our-services {
  padding-top: 105px;
  padding-bottom: 100px;
}

#our-services .services-image {
  width: 100%;
  padding-left: 69px;
}

@media screen and (max-width: 768px) {
  #our-services .services-image {
    padding-left: 0;
  }
}

#our-services .services-text {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 100px;
}

@media screen and (max-width: 320px) {
  #our-services .services-text {
    margin-top: 30px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 768px) {
  #our-services .services-text {
    margin-top: 30px;
    padding-left: 20px;
  }
}

#our-services .services-text h2 {
  font-size: 24px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  #our-services .services-text h2 {
    font-size: 18px;
  }
}

#our-services .services-text p {
  font-size: 14px;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  #our-services .services-text p {
    font-size: 12px;
  }
}

#our-services .services-text span {
  font-size: 14px;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  #our-services .services-text span {
    font-size: 12px;
  }
}

#why-us {
  padding-bottom: 100px;
}

#why-us .why-us-text h2 {
  font-size: 24px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  #why-us .why-us-text h2 {
    font-size: 18px;
  }
}

#why-us .why-us-text p {
  font-size: 14px;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  #why-us .why-us-text p {
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  #why-us .why-us-text .why-us-card {
    padding-bottom: 15px;
  }
}

#why-us .why-us-text .why-us-card .card-title {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  #why-us .why-us-text .why-us-card .card-title {
    font-size: 14px;
  }
}

#why-us .why-us-text .why-us-card .card-text {
  font-size: 14px;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  #why-us .why-us-text .why-us-card .card-text {
    font-size: 12px;
  }
}

#testimonial {
  padding-bottom: 100px;
}

#testimonial .testimonial-image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 768px) {
  #testimonial .testimonial-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  #testimonial .testimonial-card {
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

#testimonial .testimonial-card .card-1 {
  background-color: var(--hero-color);
  border-color: var(--hero-color);
}

#testimonial .testimonial-card .card-1 .testimonial-image {
  padding: 15px;
}

#testimonial .testimonial-card .card-1 .testimonial-text h6 {
  font-size: 14px;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  #testimonial .testimonial-card .card-1 .testimonial-text h6 {
    font-size: 12px;
  }
}

#testimonial .testimonial-card .card-1 .testimonial-text p {
  font-size: 14px;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  #testimonial .testimonial-card .card-1 .testimonial-text p {
    font-size: 12px;
  }
}

#getting-started {
  padding-bottom: 100px;
}

#getting-started .started-box {
  background-color: var(--primary-dark-blue);
  padding: 64px;
  width: 100%;
}

@media screen and (max-width: 480px) {
  #getting-started .started-box {
    padding-right: 20px;
    padding-left: 20px;
  }
}

#getting-started .started-box .started-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--secondary-color);
}

#getting-started .started-box .started-text h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 16px;
}

@media screen and (max-width: 768px) {
  #getting-started .started-box .started-text h2 {
    font-size: 24px;
  }
}

#getting-started .started-box .started-text p {
  font-size: 14px;
  font-weight: 300;
  width: 50%;
  margin-bottom: 52px;
}

@media screen and (max-width: 768px) {
  #getting-started .started-box .started-text p {
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  #getting-started .started-box .started-text p {
    width: 100%;
  }
}

#getting-started .started-box .started-text .started-cta {
  font-size: 14px;
  color: var(--secondary-color);
}

@media screen and (max-width: 768px) {
  #getting-started .started-box .started-text .started-cta {
    font-size: 12px;
  }
}

#faq {
  padding-bottom: 150px;
}

#faq .faq-text {
  margin-top: 30px;
  margin-bottom: 30px;
}

@media screen and (max-width: 320px) {
  #faq .faq-text {
    margin-top: 30px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 768px) {
  #faq .faq-text {
    margin-top: 30px;
    padding-left: 20px;
  }
}

#faq .faq-text h2 {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 16px;
}

@media screen and (max-width: 768px) {
  #faq .faq-text h2 {
    font-size: 18px;
  }
}

#faq .faq-text p {
  font-size: 14px;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  #faq .faq-text p {
    font-size: 12px;
  }
}

#faq .faq-item {
  border: 1px solid #D4D4D4;
  border-radius: .4rem;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
}

#faq .faq-item:target .answer {
  max-height: 20rem;
}

#faq .faq-item:target .faq-link ion-icon[name="chevron-down"] {
  display: none;
}

#faq .faq-item:target .faq-link ion-icon[name="remove"] {
  display: block;
}

#faq .faq-item .faq-link {
  font-size: 14px;
  font-weight: 300;
  color: var(--primary-color);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
}

#faq .faq-item .faq-link a {
  text-decoration: none;
}

#faq .faq-item .faq-link ion-icon {
  color: var(--primary-color);
  padding: .5rem;
  font-size: 1.5rem;
}

#faq .faq-item .faq-link ion-icon[name="remove"] {
  display: none;
}

#faq .faq-item .answer {
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: var(--hero-color);
  border-radius: .4rem;
  -webkit-transition: max-height 650ms;
  transition: max-height 650ms;
}

#faq .faq-item .answer::before {
  content: "";
  position: absolute;
  width: .6rem;
  height: 90%;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#faq .faq-item .answer p {
  padding: 1rem;
  font-size: 14px;
  font-weight: 300;
}
/*# sourceMappingURL=style.css.map */