:root {
    --primary-color: #000;
    --secondary-color: #fff;
    --hero-color: #F1F3FF;
    --primary-dark-blue: #0D28A6;
}

body {
    font-family: 'Helvetica', Arial, sans-serif;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: var(--hero-color);
    .header-logo {
        width: 100%;
        height: auto;
    }
    .mobile-menu {
        width: 36px;
        height: auto;
    }
    .nav-menu {
        li {
            margin-right: 16px;
            margin-left: 16px;
            font-size: 14px;
            font-weight: 400;
            a {
                color: var(--primary-color);
                text-decoration: none;
                &:hover {
                    color: var(--primary-color);
                }
                &.register-cta {
                    font-size: 14px;
                    font-weight: 400;
                    color: var(--secondary-color);
                }
            }
        }
    }
}

#main {
    overflow: hidden;
}

#hero {
    position: relative;
    margin-top: 80px;
    background-color: var(--hero-color);
    .hero-text {
        margin-top: 20px;
        margin-bottom: 30px;
        @media screen and (max-width: 768px) {
            margin-bottom: 20px;
        }
        h1 {
            font-size: 30px;
            font-weight: bold;
            color: var(--primary-color);
            @media screen and (max-width: 768px) {
                font-size: 24px;   
            }
        }
        p {
            margin-top: 15px;
            margin-bottom: 16px;
            font-size: 14px;
            font-weight: 300;
            @media screen and (max-width: 768px) {
                font-size: 12px;
            }
        }
        .rent-cta {
            font-size: 14px;
            color: var(--secondary-color);
            @media screen and (max-width: 768px) {
                font-size: 12px;
            }
        }
    }
    .hero-image {
        width: 100%;
        @media screen and (max-width: 768px) {
            transform: translateX(5%);
        }
        @media screen and (min-width: 768px) {
            transform: translate(12%, 12%);
        }
        @media screen and (min-width: 1024px) {
            transform: translateX(11%);
        }
        @media screen and (min-width: 1440px) {
            transform: translateX(31%);
        }
    }
}

#our-services {
    padding-top: 105px;
    padding-bottom: 100px;
    .services-image {
        width: 100%;
        padding-left: 69px;
        @media screen and (max-width: 768px) {
            padding-left: 0;
        }
    }
    .services-text {
        margin-top: 30px;
        margin-bottom: 30px;
        padding-left: 100px;
        @media screen and (max-width: 320px) {
            margin-top: 30px;
            padding-left: 10px;
        }
        @media screen and (max-width: 768px) {
            margin-top: 30px;
            padding-left: 20px;
        }
        h2 {
            font-size: 24px;
            font-weight: bold;
            @media screen and (max-width: 768px) {
                font-size: 18px;
            }
        }
        p {
            font-size: 14px;
            font-weight: 300;
            @media screen and (max-width: 768px) {
                font-size: 12px;
            }
        }
        span {
            font-size: 14px;
            font-weight: 300;
            @media screen and (max-width: 768px) {
                font-size: 12px;
            }
        }
    }
}

#why-us {
    padding-bottom: 100px;
    .why-us-text {
        h2 {
            font-size: 24px;
            font-weight: bold;
            @media screen and (max-width: 768px) {
                font-size: 18px;
            }
        }
        p {
            font-size: 14px;
            font-weight: 300;
            @media screen and (max-width: 768px) {
                font-size: 12px;
            }
        }
        .why-us-card {
            @media screen and (max-width: 480px) {
                padding-bottom: 15px;
            }
            .card-title {
                font-size: 16px;
                @media screen and (max-width: 768px) {
                    font-size: 14px;
                }
            }
            .card-text {
                font-size: 14px;
                font-weight: 300;
                @media screen and (max-width: 768px) {
                    font-size: 12px;
                }
            }
        }
    }
}

#testimonial {
    padding-bottom: 100px;
    .testimonial-image {
        align-self: center;
        @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
        }
    }
    .testimonial-card {
        @media screen and (max-width: 480px) {
            padding-bottom: 15px;
            padding-left: 30px;
            padding-right: 30px;
        }
        .card-1 {
            background-color: var(--hero-color);
            border-color: var(--hero-color);
            .testimonial-image {
                padding: 15px;
            }
            .testimonial-text {
                h6 { 
                    font-size: 14px; 
                    font-weight: 400;
                    @media screen and (max-width: 768px) {
                        font-size: 12px;
                    }
                }
                p {
                    font-size: 14px;
                    font-weight: 300;
                    @media screen and (max-width: 768px) {
                        font-size: 12px;
                    }
                }
            }
        }
        
    }
}

#getting-started {
    padding-bottom: 100px;
    .started-box {
        background-color: var(--primary-dark-blue);
        padding: 64px;
        width: 100%;
        @media screen and (max-width: 480px) {
            padding-right: 20px;
            padding-left: 20px;
        }
        .started-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: var(--secondary-color);
            h2 {
                font-size: 30px;
                font-weight: bold;
                margin-bottom: 16px;
                @media screen and (max-width: 768px) {
                    font-size: 24px;
                }
            }
            p {
                font-size: 14px;
                font-weight: 300;
                width: 50%;
                margin-bottom: 52px;
                @media screen and (max-width: 768px) {
                    font-size: 12px;
                }
                @media screen and (max-width: 767px) {
                    width: 100%;
                }
            }
            .started-cta {
                font-size: 14px;
                color: var(--secondary-color);
                @media screen and (max-width: 768px) {
                    font-size: 12px;
                }
            }
        }
    }
}

#faq {
    padding-bottom: 150px;
    .faq-text {
        margin-top: 30px;
        margin-bottom: 30px;
        @media screen and (max-width: 320px) {
            margin-top: 30px;
            padding-left: 10px;
        }
        @media screen and (max-width: 768px) {
            margin-top: 30px;
            padding-left: 20px;
        }
        h2 {
            font-size: 24px;
            font-weight: bold;
            padding-bottom: 16px;
            @media screen and (max-width: 768px) {
                font-size: 18px;
            }
        }
        p {
            font-size: 14px;
            font-weight: 300;
            @media screen and (max-width: 768px) {
                font-size: 12px;
            }
        }
    }
    .faq-item {
        border: 1px solid #D4D4D4;
        border-radius: .4rem;
        margin-bottom: 1rem;
        padding: .5rem 1rem;
        &:target {
            .answer {
                max-height: 20rem;
            }
            .faq-link {
                ion-icon {
                    &[name="chevron-down"] {
                        display: none;
                    }
                    &[name="remove"] {
                        display: block;
                    }
                }
            }
        }
        .faq-link {
            font-size: 14px;
            font-weight: 300;
            color: var(--primary-color);
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-decoration: none;
            a {
                text-decoration: none;
            }
            ion-icon {
                color: var(--primary-color);
                padding: .5rem;
                font-size: 1.5rem;
                &[name="remove"] {
                    display: none;
                }
            }
        }
        .answer {
            max-height: 0;
            overflow: hidden;
            position: relative;
            background-color: var(--hero-color);
            border-radius: .4rem;
            transition: max-height 650ms;
            &::before {
                content: "";
                position: absolute;
                width: .6rem;
                height: 90%;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
            p {
                padding: 1rem;
                font-size: 14px;
                font-weight: 300;
            }
        }
    }
}